
h1{color:aquamarine; background-color:black; font-size:100px; font-style:italic;}
h2{color:gold; background-color:blanchedalmond; font-size:98px; font-style: oblique;}

.MyTable{color:white; background-color:black;font-style:italic; font-size: larger; text-align: center;}